# Entorno virtual de Python
.venv/
venv/
ENV/

# Binarios descargados (FFmpeg)
bin/
*.zip

# Archivos de configuracion local
settings.txt

# Cache de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Descargas (por si se descargan en la carpeta del proyecto)
*.mp4
*.mp3
*.m4a
*.webm
